.inCart-container{
    min-height: 100vh;
}

.inCart-list {
    min-height: 100vh;
}

.product-inCart {
    background: rgb(248, 248, 248);
    border-radius: 10PX;
    margin: 20px 20px 30px 20px;
    padding: 20px;
    box-shadow: 4px 4px 5px lightgray;
    min-width: 250px;
}

.product-inCart li {
    display: flex;
    flex-direction: column;
}
.product-inCart img {
    max-width: 90px;
   
}

.img-and-price-incart {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
}
.img-and-price-incart p {
    padding: 5px;
}

.delete-btn {
    border: none;
    border-radius: 5px;
    background: lightskyblue;
    cursor: pointer;
    margin-left: 0.2rem;
    margin-top: 0.3rem;
    padding: 5px;
    color: white;
}

