.dropdown {

    /* border: 1px solid #ccc; */
    width: 332px;
    position: absolute;
    background-color: #f9f9f9;
    list-style-type: none;
    padding: 0;
    z-index: 1;
    border-radius: 10px;
}
.dropdown li {
    padding: 8px;
    display: flex;
    justify-content: space-between;
}

.dropdown-list li{
    margin: 10px;
    border-radius: 10px;
    box-shadow: 4px 4px 5px lightgray;
    padding: 10px;
}