.empty-products {
    min-height: 100vh;
    /* text-align: center; */
}

.image-container img {
    max-width: 345px;
    margin: 0.8rem ;
    border-radius: 10PX;
    box-shadow: 5px 5px 5px rgb(133, 133, 133);
    background: none;
}

.home-cart {
    background: rgb(248, 248, 248);
    border-radius: 10PX;
    margin: 20px 20px 30px 20px;
    padding: 20px;
    box-shadow: 4px 4px 5px lightgray;
}

.sidebar a {
    margin-right: 0.8rem;
    cursor: pointer;
    text-decoration: none;
    color: white;
    pointer-events: auto;
}



#menu-icon{
    cursor: pointer;
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    z-index: 999;
    background-color: rgba(39, 39, 39, 0.318);
    backdrop-filter: blur(10px);
    box-shadow: -20px 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 1s ease, transform 1s ease;
}

.sidebar.show{
    display: flex;
    opacity: 1;
    transform: translateX(0);
    /* color: black; */
    cursor: pointer;
    justify-content: start;
}

.sidebar-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    row-gap: 3rem;
    margin-top: 1rem;

}

.sidebar-link a:hover{
    font-style: italic;
}

#close-btn img {
    padding: 2rem;
    position: relative;
    left: 18rem;  
}

