.search-style input {
    padding: 10px;
    outline: none;
    border-radius: 10px 0 0 10px;
    border: none;
    box-shadow: 4px 4px 5px lightgray;
    inset:  4px 4px 5px lightgray;
    border: 0.5px solid rgb(219, 219, 219);
    
}
.search-style button {
    padding: 11px;
    border-radius: 0px 10px 10px 0px;
    box-shadow: 4px 4px 5px lightgray;
    border: none;
    background: lightblue;
    color: white;
    cursor: pointer;
   
}