
.nave-style {
    display: flex;
    justify-content: space-between;
    padding: 10px ;
    background:lightblue;
    color: red;
}

.nave-style p {
    padding: 10px;
    margin-left: 1rem;
    font-size: larger;
}
.nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-link a {
    margin-right: 0.8rem;
    cursor: pointer;
    text-decoration: none;
    color: white;
    pointer-events: auto;
}

.nav-link a:hover {
    font-size: 1.3rem;
    font-weight: bolder;
    color: rgb(247, 40, 40);
    font-style: italic;
}

.card-pic {
    width: 1.4rem;
}